<div class="container">
    <h1>パスワードの編集</h1>

<%= form_with model: @user, url: update_password_user_path, local: true, method: :patch do |f| %>
  <div class="form-group mt-3">
    <%= f.label :current_password ,"現在のパスワード" %>
    <%= f.password_field :current_password, class: "form-control", required: true %>
  </div>
  <div class="form-group mt-3">
    <%= f.label :password, "新パスワード" %>
    <%= f.password_field :password, class: "form-control", required: true %>
  </div>
  <div class="form-group mt-3">
    <%= f.label :password_confirmation, "パスワードの確認" %>
    <%= f.password_field :password_confirmation, class: "form-control", required: true %>
  </div>
  <%= f.submit "変更", class: "btn btn-primary mt-3" %>
<% end %>

</div>