<style>
  .content {
    padding-bottom: 100px;
  }
  
</style>

<div class="container-fluid px-5 content">
  <div class="row">
    <div class="col-6">
      <div class="test">
        <h3>プロファイル編集</h3>
        <%= form_with model: @m_user, url: m_user_path(@m_user), method: :patch, local: true do |form| %>
          
          <!-- Name -->
          <div class="mb-2">
            <%= form.label :name, "ユーザー名", class: "form-label mb-0" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <!-- Phone -->
          <div class="mb-2">
            <%= form.label :phone, "電話番号", class: "form-label mb-0" %>
            <%= form.telephone_field :phone, class: "form-control" %>
          </div>

          <!-- Job Type (Category) -->
          <div class="mb-2">
  <%= form.label :category_id, "職種", class: "form-label mb-0" %>
  <%= form.select :category_id, 
      options_for_select(@categories.map { |category| [category.title, category.id] }, @m_user.category_id), 
      { prompt: "職種を選択してください" },
      { class: "form-select" } %>

</div>

          <!-- Skills -->
          <div class="mb-2">
            <%= form.label :t_skill_ids, "スキル", class: "form-label mb-0" %>
            <%= form.select :t_skill_ids, 
      options_for_select(@skills.map { |skill| [skill.title, skill.id] }, @m_user.t_skills.pluck(:id)), 
      { prompt: "選択してください", multiple: true}, 
      { class: "form-select", id: "skill_select" } %>
    
          </div>

          <!-- Self-Introduction -->
          <div class="mb-2">
            <%= form.label :about, "自己紹介", class: "form-label mb-0" %>
            <%= form.text_area :about, class: "form-control", rows: 1 %>
          </div>

          <!-- Location -->
          <div class="mb-2">
            <%= form.label :location_id, "市区町村", class: "form-label mb-0" %>
            <%= form.select :location_id,
            options_for_select(@locations.map { |location| [location.city, location.id] }, @m_user.location_id),
             { prompt: '選択してください' }, class: "form-select" %>
          </div>

          <!-- Profile Image Display -->
          <% if @m_user.profile_picture.attached? %>
            <%= image_tag @m_user.profile_picture, class: "img-thumbnail rounded", style: "width: 150px; height: 150px; object-fit: cover;" %>
          <% else %>
            <%= image_tag "default_profile.png", class: "img-thumbnail rounded", style: "width: 150px; height: 150px; object-fit: cover;" %>
          <% end %>

          
          <!-- Profile Image -->
          <div class="mb-3">
            <%= form.label :profile_picture, "プロフィール画像", class: "form-label mb-0" %>
            <%= form.file_field :profile_picture, class: "form-control", direct_upload: true %>

          </div>

          <!-- Submit Button -->
          <div class="d-flex justify-content-start">
            <%= form.submit "更新", class: "btn btn-success" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
