<div class="container-fluid px-5">
  <div class="row mb-1">
    
    <!-- Profile Picture Column -->
    <div class="col-2 d-flex align-items-center">
      <div class="position-relative d-flex justify-content-center align-items-center"
          style="width: 250px; height: 250px; background-color: #f0f0f0; border-radius: 10px;">
        <% if @m_user.profile_picture.attached? %>
          <%= image_tag @m_user.profile_picture, 
                class: "rounded-circle position-absolute", 
                style: "width: 200px; height: 200px; object-fit: cover;" %>
        <% else %>
          <%= image_tag "default_profile.png", 
                class: "rounded-circle position-absolute", 
                style: "width: 200px; height: 200px; object-fit: cover;" %>
        <% end %>
      </div>
    </div>

    <!-- User Information Column -->
    <div class="col-10">
      <div class="px-5 py-3 d-flex flex-column justify-content-start">
        
        <!-- User Name -->
        <h1 class="text-secondary h5 mb-1 w-25">
        <%= @m_user.name %>
        <%= link_to edit_m_user_path(current_user), class: "ms-3 fs-4 text-decoration-none" do %>
            <i class="fa-solid fa-pen-to-square text-secondary"></i>
        <% end %>
        </h1>

        <!-- Category & Location -->
        <div class="w-25 d-flex justify-content-between align-items-center">
          <span class="h6 px-1 py-2 bg-success rounded mt-2" style="color:white;"><%= @m_user.category&.title || "No Category" %></span>
          <a href="#" class="text-decoration-none text-secondary btn border-dark">
            <i class="fa-solid fa-location-dot me-2"></i>
            <%= @m_user.location&.city || "No Location" %>
          </a>
        </div>

        <!-- Skills -->
        <div class="mb-2 mt-2">
          <% @m_user.t_skills.each do |skill| %>
            <span class="bg-primary px-3 py-2 rounded me-3 text-white">
              <%= skill.title %>
            </span>
          <% end %>
        </div>

      </div>
    </div>

  </div>
  <p class="mb-3 mt-2"><%= @m_user.about%></p>
  <div class="border border-dark py-2 px-3 mb-3">
    <h1 class="h3 mb-4">コンタクト</h1>
    <p class="mb-2"><i class="fa-solid fa-phone me-5"></i><%=@m_user.phone%></p>
    <p><i class="fa-solid fa-envelope me-5"></i><%=@m_user.email%></p>
  </div>
  <div class="border border-dark py-2 px-3">
    <h1 class="h3 mb-4">提案概要</h1>
    <p class="mb-2"><%=@m_user.phone%></p>
    <p><%=@m_user.email%></p>
  </div>
</div>
