<div class="container-fluid px-5">
  <div class="row mb-1">
    
    <!-- Profile Picture Column -->
    <div class="col-2 d-flex align-items-center">
      <div class="position-relative d-flex justify-content-center align-items-center"
          style="width: 250px; height: 250px; background-color: #f0f0f0; border-radius: 10px;">
        <% if @m_company.logo.attached? %>
          <%= image_tag @m_company.logo, 
                class: "rounded-circle position-absolute", 
                style: "width: 200px; height: 200px; object-fit: cover;" %>
        <% else %>
          <%= image_tag "default_profile.png", 
                class: "rounded-circle position-absolute", 
                style: "width: 200px; height: 200px; object-fit: cover;" %>
        <% end %>
      </div>
    </div>

    <!-- User Information Column -->
    <div class="col-10">
      <div class="px-5 py-2 d-flex flex-column justify-content-start">
        
        <!-- User Name -->
        <h1 class="text-secondary h5 mb-3 w-25">
        <%= @m_company.name %>
        <%= link_to edit_m_company_path(current_company), class: "ms-3 fs-4 text-decoration-none" do %>
            <i class="fa-solid fa-pen-to-square text-secondary"></i>
        <% end %>
        </h1>

        <!-- Category & Location -->
        <div class="w-25 d-flex justify-content-start align-items-center">
          <a href="#" class="text-decoration-none text-secondary btn border-dark">
            <i class="fa-solid fa-location-dot me-2"></i>
            <%= @m_company.location&.city || "No Location" %>
          </a>
        </div>

        <!-- Skills -->

      </div>
    </div>

  </div>
  <p class="mb-2 mt-3"><%= @m_company.info%></p>
  <div class="border border-dark px-3 my-3">
    <h1 class="h3 mb-4">コンタクト</h1>
    <p class="mb-2"><i class="fa-solid fa-phone me-2 fs-4"></i><%=@m_company.phone%></p>
    <p class="mb-2"><i class="fa-solid fa-envelope me-2 fs-4"></i><%=@m_company.email%></p>
    <p class="mb-2"><i class="fa-solid fa-address-book me-2 fs-4"></i><%=@m_company.address%></p>
  </div>
<div class="border border-dark py-2 px-3 mt-2">
  <h1 class="h3 mb-3">募集概要</h1>
  <% @joboffers.each do |job_offer| %>
      <p class="mb-3"><%= link_to job_offer.category.title, t_job_offer_path(job_offer.id) , class: "text-decoration-none" %>
      <span class="badge bg-primary ms-3 fs-6"><%=job_offer.m_users.count%></span></p>
      <!-- You can add more fields as needed, e.g., salary, location, etc. -->
  <% end %>
  <div class="pagination d-flex justify-content-end mt-1">
      <%= paginate @joboffers %>
  </div>
</div>

</div>
